*{
    font-family: 'Exo', sans-serif;

}
body{
    background-image: url(../img/windows_xp_bliss-wide.jpg);
}
input{
    width:100%;
}
img{
    border-radius:30%;
    width:90%;
}
main{
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}
section{
    display: flex;
    justify-content: space-between;
}

h4{
    margin:0;
    
}
.gif-left{
 
}

#data-wrap{
    background-color: rgba(214, 214, 214, 0.37);
    border-radius: 20px;
    width:100%;
    position: relative;
}

#gif-wrapper-left{
    width:60%;
    display: inline-flex;
        flex-flow: column;
    flex-wrap: wrap;
}

.gif-right{
}

#gif-wrapper-right{
    width:60%;
    display: inline-flex;
    flex-flow: column;
    flex-wrap: wrap-reverse;
}
button{
    width:50%;
    border-radius:10px;
    background-color:white; 
    margin-left: 25%;
}
button:hover{
    color: white;
    background-color: #c6c6c6; 
}